{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}

<div class="d-flex justify-content-center">
    <div class="card m-auto mb-5 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">{{ object.price }} руб </h4>
        </div>
        <div class="card-body">
            <img src="{{ object.img | media_filter }}" class="img-fluid" alt="...">
            <ul class="list-unstyled mt-3 mb-1 text-start m-3">
                <li>Описание: {{object.description}}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}